/* 
    Name: Kyjah Savery
    Date created: March 5, 2025
    Date last edited: March 5, 2025
    Version: 1.1
    Description: Homework 2 CSS Patient Form
*/

header {
    width: 100%;
    background-color: #f2e9e4;
    color: #22223b;
  }
  
  #date-text {
    text-align: right;
  }
  
  #title-text {
    text-align: center;
  }
  
  .subject-heading {
    text-align: center;
    align-content: center;
  }
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #9a8c98;
    margin: 0;
    height: 100%;
    min-height: 100vh;
  }
  form {
    flex-grow: 1;
  }
  h1,
  h2 {
    text-align: center;
    font-family: fantasy;
    font-weight: bold;
    flex-grow: 1;
  }
  /* main{
      text-align: center;
      font-family: fantasy;
      font-weight: normal;
      flex-grow: 1;
  } */
  div.image {
    text-align: left;
    align-items: left;
  }
  div.image img {
    width: 80px;
  }
  
  td {
    font-family: fantasy;
    font-weight: normal;
  }
  
  .td-left {
    text-align: left;
  }
  
  .td-center {
    text-align: center;
  }
  
  .td-right {
    text-align: right;
  }
  
  .cntr {
    align-items: center;
  }
  th {
    text-align: center;
    font-family: fantasy;
  }
  footer {
    position: flex;
    bottom: 0;
    width: 100%;
    background-color: #f2e9e4;
    height: 4rem;
  }
  #footer {
    text-align: right;
    font-family: "Courier New", Courier, monospace;
    font-weight: normal;
    margin-right: 10px;
  }
  label {
    text-align: right;
    font-family: fantasy;
    font-weight: normal;
  }
  input {
    text-align: left;
    font-family: "Times New Roman", Times, serif;
    font-weight: normal;
  }
  textarea {
    text-align: left;
    font-family: "Times New Roman", Times, serif;
    font-weight: normal;
  }
  #today {
    text-align: left;
    font-family: "Times New Roman", Times, serif;
    font-weight: normal;
    margin-right: 5px;
  }
  p {
    text-align: right;
    font-family: fantasy;
    font-weight: normal;
  }
  
  .phil {
    margin-top: 70vh;
  }
  
  radio {
    text-align: left;
    margin: auto 0;
  }
  
  radio + p {
    text-align: left;
    margin: auto 0;
  }
  
  .error {
    color: red;
    font-size: 12px;
    font-family: "Times New Roman", Times, serif;
    font-weight: normal;
}

.pword-message {
  text-align: right;
  font-family: "Times New Roman", Times, serif;
  font-weight: normalt;
  position: relative;
  left: 100px;
  background: transparent;
  padding: 10px;
  border-spacing: 2px;
  border-radius: 20px;
  color: red;
}

#review {
  margin-top: 5px;
}

table.output,
tr.output,
td.output {
    width: 500px;
    background-color: #9a8c98;
    padding: 10px;
    border-spacing: 2px;
    border-radius: 20px;
    color: black;
}

td.output {
  width: 500px;
  background-color: #9a8c98;
  padding: 10px;
  border-spacing: 2px;
}