/* 
    Name: Kyjah Savery
    Date created: May 2, 2025
    Date last edited: May 2, 2025
    Version: 1.1
    Description: Homework 4 CSS Patient Form
*/

header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #f2e9e4;
    z-index: 1000;
    padding: 10px 0;
    box-shadow: 0 20x 40x rgba(0,0,0,0.1);
    color: #22223b;
  }
  
  #date-text {
    text-align: right;
  }
  
  #title-text {
    text-align: center;
  }
  
  .subject-heading {
    text-align: center;
    align-content: center;
  }
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #9a8c98;
    margin: 0;
    height: 100%;
    min-height: 100vh;
  }
  form {
    flex-grow: 1;
  }
  h1,
  h2 {
    text-align: center;
    font-family: fantasy;
    font-weight: bold;
    flex-grow: 1;
  }
  /* main{
      text-align: center;
      font-family: fantasy;
      font-weight: normal;
      flex-grow: 1;
  } */
  div.image {
    text-align: left;
    align-items: left;
  }
  div.image img {
    width: 80px;
  }
  
  td {
    font-family: fantasy;
    font-weight: normal;
  }
  
  .td-left {
    text-align: left;
  }
  
  .td-center {
    text-align: center;
  }
  
  .td-right {
    text-align: right;
  }
  
  .cntr {
    align-items: center;
  }
  th {
    text-align: center;
    font-family: fantasy;
  }
  footer {
    position: flex;
    bottom: 0;
    width: 100%;
    background-color: #f2e9e4;
    height: 4rem;
  }
  #footer {
    text-align: right;
    font-family: "Courier New", Courier, monospace;
    font-weight: normal;
    margin-right: 10px;
  }
  label {
    text-align: right;
    font-family: fantasy;
    font-weight: normal;
  }
  input {
    text-align: left;
    font-family: "Times New Roman", Times, serif;
    font-weight: normal;
  }
  textarea {
    text-align: left;
    font-family: "Times New Roman", Times, serif;
    font-weight: normal;
  }
  #today {
    text-align: left;
    font-family: "Times New Roman", Times, serif;
    font-weight: normal;
    margin-right: 5px;
  }
  p {
    text-align: right;
    font-family: fantasy;
    font-weight: normal;
  }
  
  .phil {
    margin-top: 70vh;
  }
  
  radio {
    text-align: left;
    margin: auto 0;
  }
  
  radio + p {
    text-align: left;
    margin: auto 0;
  }
  
  .error {
    color: red;
    font-size: 12px;
    font-family: "Times New Roman", Times, serif;
    font-weight: normal;
}

.pword-message {
  text-align: right;
  font-family: "Times New Roman", Times, serif;
  font-weight: normalt;
  position: relative;
  left: 100px;
  background: transparent;
  padding: 10px;
  border-spacing: 2px;
  border-radius: 20px;
  color: red;
}

#review {
  margin-top: 5px;
}

table.output,
tr.output,
td.output {
    width: 500px;
    background-color: #d091c7;
    padding: 10px;
    border-spacing: 2px;
    border-radius: 20px;
    color: black;
}

td.output {
  width: 500px;
  background-color: #d091c7;
  padding: 10px;
  border-spacing: 2px;
}
/*alert box*/
#alert-box {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #ed97ccc5;
}
#alert-content {
  background-color: white;
  border-radius: 10px;
  width: 300px;
  height: 140px;
  margin: auto;
  margin-top: 20px;
  padding: 30px;
  text-align: center;
}
#alert-content h4 {
   font-size: 20px;
   text-align: center;
   font-family: 'Times New Roman', Times, serif;
   font-weight: normal;
}
#close-alert {
  background-color: white;
  border-width: 1px;
  border-style: solid;
  color: rgba(0, 0, 0, 0.575);
  border-color: rgba(0, 0, 0, 0.575);
  font-size: 15px;
  font-weight: bold;
  height: 20px;
  width: 80px;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 20px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}
/*iframe*/
.iframe-container {
  position: absolute;
  top: 30%;
  right: 15px;
  width: 25%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.iframe-container iframe {
  width: 95%;
  height:20%;
  border: 1px solid black;

}

/*#welcome1 {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  font-family:'optima' , sans-serif;
  font-weight: normal;
}

#welcome2 {
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  font-family:'optima' , sans-serif;
  font-weight: normal;
}
  */
  #welcome-container {
    background-color: #e6f7ff;
    border-bottom: 1px solid #ccc;
    padding: 12px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    position: relative; /
    z-index: 999; 
    color: #333;
}

#welcome-container a {
    display: block;
    margin-top: 5px;
    font-size: 0.95em;
    font-weight: normal;
    text-decoration: underline;
    color: #0073e6;
    cursor: pointer;
}
